MONGO_INITDB_ROOT_USERNAME=""
MONGO_INITDB_ROOT_PASSWORD=""
MONGO_INITDB_DATABASE=""

PORT=""
NODE_ENV=""
MONGO_URI="mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/${MONGO_INITDB_DATABASE}"

JWT_SECRET=""
JWT_EXPIRE=""

JWT_COOKIE_EXPIRE=""